<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    {% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}
    {% include open-graph.html %}
    <meta name="yandex-verification" content="83b87e4256e24fa4" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    <link href="{{ site.url }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom Feed">
    <link href="{{ site.url }}/sitemap.xml" type="application/xml" rel="sitemap" title="Sitemap">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">

    <link rel="stylesheet" href="{{ site.url }}/css/main.css">
    <!-- HTML5 Shiv and Media Query Support for IE -->
    <!--[if lt IE 9]>
      <script src="{{ site.url }}/js/vendor/html5shiv.min.js"></script>
      <script src="{{ site.url }}/js/vendor/respond.min.js"></script>
    <![endif]-->

  </head>

  <body id="js-body">
    {% include browser-upgrade.html %}
    {% include header.html %}
    {% include navigation-sliding.html %}

    <div id="page-wrapper">
      {{ content }}
      {% include footer.html %}
    </div>
    <script src="{{ site.url }}/js/vendor/EventListenerOptions.polyfill.js"></script>
    <script src="{{ site.url }}/js/vendor/jquery-3.3.1.min.js"></script>
    {% include lightbox.html %}
    <script src="{{ site.url }}/js/main.js"></script>

    <!-- JSON-LD Schema -->
    <script type='application/ld+json'>
      {
        "@context": "http://www.schema.org",
        "@type": "WebSite",
        "name": "World Conference of Associated Theological Institutions",
        "alternateName": "WOCATI",
        "url": "https://www.wocati.org"
      }
     </script>
     <script type='application/ld+json'>
     {
       "@context": "http://www.schema.org",
       "@type": "Organization",
       "name": "World Conference of Associated Theological Institutions (WOCATI)",
       "url": "https://www.wocati.org/",
       "logo": "https://www.wocati.org/international-640x640.png",
       "description": "The main goal of World Conference of Associated Theological Institutions (WOCATI) is to serve the needs and aspirations of its member associations and their institutions, schools and centres. It will be through this prime focus that World Conference of Associated Theological Institutions (WOCATI) will seek to serve and support theological education throughout the world. The existence of World Conference of Associated Theological Institutions (WOCATI) as a global conference is seen to be a invaluable resource for all theological institutions and their associations by providing an established network and resource to facilitate the work of the member associations.\n\n"
     }
      </script>
  </body>

</html>
